body {
    margin: 30px;
    background-color: white;
}

.row{
    margin-bottom: 0em;
}

.extrasfirst {
    margin-top: 1em;
}

.errorField {
    border: 2px solid red;
}

input[type=date]{
    width: 100%;
    margin-bottom: 1em;
}

.confirmationdisplay {
    margin-top: 30px;
    font-size: 1.3em;

}

.form-group label {
    font-size: 1.3em;
}

#extras label{
    margin-left: 5px;
}